In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv('CreditCardDataset.csv')

In [3]:
dataset

,Transaction ID,Date,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Shipping Address,Country of Residence,Gender,Age,Bank,Fraud
0,#3577 209,14-Oct-20,Wednesday,19,Visa,Tap,£5,POS,Entertainment,United Kingdom,United Kingdom,United Kingdom,M,25.2,RBS,0
1,#3039 221,14-Oct-20,Wednesday,17,MasterCard,PIN,£288,POS,Services,USA,USA,USA,F,49.6,Lloyds,0
2,#2694 780,14-Oct-20,Wednesday,14,Visa,Tap,£5,POS,Restaurant,India,India,India,F,42.2,Barclays,0
3,#2640 960,13-Oct-20,Tuesday,14,Visa,Tap,£28,POS,Entertainment,United Kingdom,India,United Kingdom,F,51.0,Barclays,0
4,#2771 031,13-Oct-20,Tuesday,23,Visa,CVC,£91,Online,Electronics,USA,USA,United Kingdom,M,38.0,Halifax,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,#3203 892,13-Oct-20,Tuesday,22,MasterCard,Tap,£15,POS,Electronics,United Kingdom,United Kingdom,United Kingdom,F,53.8,Halifax,0
99996,#3304 849,14-Oct-20,Wednesday,23,MasterCard,PIN,£7,ATM,Children,Russia,Russia,Russia,M,45.0,Barclays,0
99997,#3532 129,13-Oct-20,Tuesday,11,MasterCard,PIN,£21,ATM,Subscription,United Kingdom,United Kingdom,United Kingdom,F,46.5,HSBC,0
99998,#3107 092,14-Oct-20,Wednesday,22,Visa,Tap,£25,POS,Products,United Kingdom,United Kingdom,United Kingdom,M,48.2,Barclays,0
99999,#3400 711,14-Oct-20,Wednesday,16,Visa,PIN,£226,POS,Restaurant,United Kingdom,United Kingdom,United Kingdom,M,31.7,Monzo,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Transaction ID          100000 non-null  object
 1   Date                    100000 non-null  object
 2   Day of Week             100000 non-null  object
 3   Time                    100000 non-null  int64
 4   Type of Card            100000 non-null  object
 5   Entry Mode              100000 non-null  object
 6   Amount                  99994 non-null   object
 7   Type of Transaction     100000 non-null  object
 8   Merchant Group          99990 non-null   object
 9   Country of Transaction  100000 non-null  object
 10  Shipping Address        99995 non-null   object
 11  Country of Residence    100000 non-null  object
 12  Gender                  99996 non-null   object
 13  Age                     100000 non-null  float64
 14  Bank                    100000 non-null  object
 15  Fraud                   100000 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 12.2+ MB

In [5]:
dataset=dataset.dropna(subset=['Amount'])

In [6]:
dataset=dataset.dropna(subset=['Merchant Group'])

In [7]:
dataset=dataset.dropna(subset=['Shipping Address'])

In [8]:
dataset=dataset.dropna(subset=['Gender'])

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99977 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction ID          99977 non-null  object
 1   Date                    99977 non-null  object
 2   Day of Week             99977 non-null  object
 3   Time                    99977 non-null  int64
 4   Type of Card            99977 non-null  object
 5   Entry Mode              99977 non-null  object
 6   Amount                  99977 non-null  object
 7   Type of Transaction     99977 non-null  object
 8   Merchant Group          99977 non-null  object
 9   Country of Transaction  99977 non-null  object
 10  Shipping Address        99977 non-null  object
 11  Country of Residence    99977 non-null  object
 12  Gender                  99977 non-null  object
 13  Age                     99977 non-null  float64
 14  Bank                    99977 non-null  object
 15  Fraud                   99977 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 13.0+ MB

In [10]:
# Identify columns for one-hot encoding
one_hot_columns = ['Type of Card', 'Entry Mode', 'Type of Transaction', 'Merchant Group', 
                   'Country of Transaction', 'Country of Residence', 'Gender', 'Bank','Shipping Address']

# Perform one-hot encoding
encoded_dataset = pd.get_dummies(dataset, columns=one_hot_columns)

In [11]:
encoded_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99977 entries, 0 to 99999
Data columns (total 50 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Transaction ID                         99977 non-null  object
 1   Date                                   99977 non-null  object
 2   Day of Week                            99977 non-null  object
 3   Time                                   99977 non-null  int64
 4   Amount                                 99977 non-null  object
 5   Age                                    99977 non-null  float64
 6   Fraud                                  99977 non-null  int64
 7   Type of Card_MasterCard                99977 non-null  bool
 8   Type of Card_Visa                      99977 non-null  bool
 9   Entry Mode_CVC                         99977 non-null  bool
 10  Entry Mode_PIN                         99977 non-null  bool
 11  Entry Mode_Tap                         99977 non-null  bool
 12  Type of Transaction_ATM                99977 non-null  bool
 13  Type of Transaction_Online             99977 non-null  bool
 14  Type of Transaction_POS                99977 non-null  bool
 15  Merchant Group_Children                99977 non-null  bool
 16  Merchant Group_Electronics             99977 non-null  bool
 17  Merchant Group_Entertainment           99977 non-null  bool
 18  Merchant Group_Fashion                 99977 non-null  bool
 19  Merchant Group_Food                    99977 non-null  bool
 20  Merchant Group_Gaming                  99977 non-null  bool
 21  Merchant Group_Products                99977 non-null  bool
 22  Merchant Group_Restaurant              99977 non-null  bool
 23  Merchant Group_Services                99977 non-null  bool
 24  Merchant Group_Subscription            99977 non-null  bool
 25  Country of Transaction_China           99977 non-null  bool
 26  Country of Transaction_India           99977 non-null  bool
 27  Country of Transaction_Russia          99977 non-null  bool
 28  Country of Transaction_USA             99977 non-null  bool
 29  Country of Transaction_United Kingdom  99977 non-null  bool
 30  Country of Residence_China             99977 non-null  bool
 31  Country of Residence_India             99977 non-null  bool
 32  Country of Residence_Russia            99977 non-null  bool
 33  Country of Residence_USA               99977 non-null  bool
 34  Country of Residence_United Kingdom    99977 non-null  bool
 35  Gender_F                               99977 non-null  bool
 36  Gender_M                               99977 non-null  bool
 37  Bank_Barclays                          99977 non-null  bool
 38  Bank_Barlcays                          99977 non-null  bool
 39  Bank_HSBC                              99977 non-null  bool
 40  Bank_Halifax                           99977 non-null  bool
 41  Bank_Lloyds                            99977 non-null  bool
 42  Bank_Metro                             99977 non-null  bool
 43  Bank_Monzo                             99977 non-null  bool
 44  Bank_RBS                               99977 non-null  bool
 45  Shipping Address_China                 99977 non-null  bool
 46  Shipping Address_India                 99977 non-null  bool
 47  Shipping Address_Russia                99977 non-null  bool
 48  Shipping Address_USA                   99977 non-null  bool
 49  Shipping Address_United Kingdom        99977 non-null  bool
dtypes: bool(43), float64(1), int64(2), object(4)
memory usage: 10.2+ MB

In [12]:
encoded_dataset

,Transaction ID,Date,Day of Week,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,...,Bank_Halifax,Bank_Lloyds,Bank_Metro,Bank_Monzo,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom
0,#3577 209,14-Oct-20,Wednesday,19,£5,25.2,0,False,True,False,...,False,False,False,False,True,False,False,False,False,True
1,#3039 221,14-Oct-20,Wednesday,17,£288,49.6,0,True,False,False,...,False,True,False,False,False,False,False,False,True,False
2,#2694 780,14-Oct-20,Wednesday,14,£5,42.2,0,False,True,False,...,False,False,False,False,False,False,True,False,False,False
3,#2640 960,13-Oct-20,Tuesday,14,£28,51.0,0,False,True,False,...,False,False,False,False,False,False,True,False,False,False
4,#2771 031,13-Oct-20,Tuesday,23,£91,38.0,1,False,True,True,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,#3203 892,13-Oct-20,Tuesday,22,£15,53.8,0,True,False,False,...,True,False,False,False,False,False,False,False,False,True
99996,#3304 849,14-Oct-20,Wednesday,23,£7,45.0,0,True,False,False,...,False,False,False,False,False,False,False,True,False,False
99997,#3532 129,13-Oct-20,Tuesday,11,£21,46.5,0,True,False,False,...,False,False,False,False,False,False,False,False,False,True
99998,#3107 092,14-Oct-20,Wednesday,22,£25,48.2,0,False,True,False,...,False,False,False,False,False,False,False,False,False,True
99999,#3400 711,14-Oct-20,Wednesday,16,£226,31.7,0,False,True,False,...,False,False,False,True,False,False,False,False,False,True

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded_dataset['Day of week'] = le.fit_transform(encoded_dataset['Day of Week'])

encoded_dataset.drop('Day of Week', axis=1, inplace=True)

In [14]:
encoded_dataset

,Transaction ID,Date,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,...,Bank_Lloyds,Bank_Metro,Bank_Monzo,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week
0,#3577 209,14-Oct-20,19,£5,25.2,0,False,True,False,False,...,False,False,False,True,False,False,False,False,True,3
1,#3039 221,14-Oct-20,17,£288,49.6,0,True,False,False,True,...,True,False,False,False,False,False,False,True,False,3
2,#2694 780,14-Oct-20,14,£5,42.2,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,3
3,#2640 960,13-Oct-20,14,£28,51.0,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,2
4,#2771 031,13-Oct-20,23,£91,38.0,1,False,True,True,False,...,False,False,False,False,False,False,False,True,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,#3203 892,13-Oct-20,22,£15,53.8,0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,2
99996,#3304 849,14-Oct-20,23,£7,45.0,0,True,False,False,True,...,False,False,False,False,False,False,True,False,False,3
99997,#3532 129,13-Oct-20,11,£21,46.5,0,True,False,False,True,...,False,False,False,False,False,False,False,False,True,2
99998,#3107 092,14-Oct-20,22,£25,48.2,0,False,True,False,False,...,False,False,False,False,False,False,False,False,True,3
99999,#3400 711,14-Oct-20,16,£226,31.7,0,False,True,False,True,...,False,False,True,False,False,False,False,False,True,3

In [15]:
# Remove currency signs
encoded_dataset['Amount'] = encoded_dataset['Amount'].str.replace(r'[^\d.]', '', regex=True)

# Convert to numeric
encoded_dataset['Amount'] = pd.to_numeric(encoded_dataset['Amount'])

In [16]:
encoded_dataset

,Transaction ID,Date,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,...,Bank_Lloyds,Bank_Metro,Bank_Monzo,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week
0,#3577 209,14-Oct-20,19,5,25.2,0,False,True,False,False,...,False,False,False,True,False,False,False,False,True,3
1,#3039 221,14-Oct-20,17,288,49.6,0,True,False,False,True,...,True,False,False,False,False,False,False,True,False,3
2,#2694 780,14-Oct-20,14,5,42.2,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,3
3,#2640 960,13-Oct-20,14,28,51.0,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,2
4,#2771 031,13-Oct-20,23,91,38.0,1,False,True,True,False,...,False,False,False,False,False,False,False,True,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,#3203 892,13-Oct-20,22,15,53.8,0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,2
99996,#3304 849,14-Oct-20,23,7,45.0,0,True,False,False,True,...,False,False,False,False,False,False,True,False,False,3
99997,#3532 129,13-Oct-20,11,21,46.5,0,True,False,False,True,...,False,False,False,False,False,False,False,False,True,2
99998,#3107 092,14-Oct-20,22,25,48.2,0,False,True,False,False,...,False,False,False,False,False,False,False,False,True,3
99999,#3400 711,14-Oct-20,16,226,31.7,0,False,True,False,True,...,False,False,True,False,False,False,False,False,True,3

In [17]:
# Remove the '#' character from 'Transaction ID'
encoded_dataset['Transaction ID'] = encoded_dataset['Transaction ID'].str.replace('#', '')

In [18]:
encoded_dataset

,Transaction ID,Date,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,...,Bank_Lloyds,Bank_Metro,Bank_Monzo,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week
0,3577 209,14-Oct-20,19,5,25.2,0,False,True,False,False,...,False,False,False,True,False,False,False,False,True,3
1,3039 221,14-Oct-20,17,288,49.6,0,True,False,False,True,...,True,False,False,False,False,False,False,True,False,3
2,2694 780,14-Oct-20,14,5,42.2,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,3
3,2640 960,13-Oct-20,14,28,51.0,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,2
4,2771 031,13-Oct-20,23,91,38.0,1,False,True,True,False,...,False,False,False,False,False,False,False,True,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3203 892,13-Oct-20,22,15,53.8,0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,2
99996,3304 849,14-Oct-20,23,7,45.0,0,True,False,False,True,...,False,False,False,False,False,False,True,False,False,3
99997,3532 129,13-Oct-20,11,21,46.5,0,True,False,False,True,...,False,False,False,False,False,False,False,False,True,2
99998,3107 092,14-Oct-20,22,25,48.2,0,False,True,False,False,...,False,False,False,False,False,False,False,False,True,3
99999,3400 711,14-Oct-20,16,226,31.7,0,False,True,False,True,...,False,False,True,False,False,False,False,False,True,3

In [19]:
# Convert the 'Date' column to datetime format
encoded_dataset['Date'] = pd.to_datetime(encoded_dataset['Date'], format='%d-%b-%y')

# Extract day, month, and year into separate columns
encoded_dataset['Day'] = encoded_dataset['Date'].dt.day
encoded_dataset['Month'] = encoded_dataset['Date'].dt.month
encoded_dataset['Year'] = encoded_dataset['Date'].dt.year

encoded_dataset.drop('Date', axis=1, inplace=True)

In [20]:
encoded_dataset

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year
0,3577 209,19,5,25.2,0,False,True,False,False,True,...,True,False,False,False,False,True,3,14,10,2020
1,3039 221,17,288,49.6,0,True,False,False,True,False,...,False,False,False,False,True,False,3,14,10,2020
2,2694 780,14,5,42.2,0,False,True,False,False,True,...,False,False,True,False,False,False,3,14,10,2020
3,2640 960,14,28,51.0,0,False,True,False,False,True,...,False,False,True,False,False,False,2,13,10,2020
4,2771 031,23,91,38.0,1,False,True,True,False,False,...,False,False,False,False,True,False,2,13,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3203 892,22,15,53.8,0,True,False,False,False,True,...,False,False,False,False,False,True,2,13,10,2020
99996,3304 849,23,7,45.0,0,True,False,False,True,False,...,False,False,False,True,False,False,3,14,10,2020
99997,3532 129,11,21,46.5,0,True,False,False,True,False,...,False,False,False,False,False,True,2,13,10,2020
99998,3107 092,22,25,48.2,0,False,True,False,False,True,...,False,False,False,False,False,True,3,14,10,2020
99999,3400 711,16,226,31.7,0,False,True,False,True,False,...,False,False,False,False,False,True,3,14,10,2020

In [21]:
final_dataset=encoded_dataset

In [22]:
final_dataset

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year
0,3577 209,19,5,25.2,0,False,True,False,False,True,...,True,False,False,False,False,True,3,14,10,2020
1,3039 221,17,288,49.6,0,True,False,False,True,False,...,False,False,False,False,True,False,3,14,10,2020
2,2694 780,14,5,42.2,0,False,True,False,False,True,...,False,False,True,False,False,False,3,14,10,2020
3,2640 960,14,28,51.0,0,False,True,False,False,True,...,False,False,True,False,False,False,2,13,10,2020
4,2771 031,23,91,38.0,1,False,True,True,False,False,...,False,False,False,False,True,False,2,13,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3203 892,22,15,53.8,0,True,False,False,False,True,...,False,False,False,False,False,True,2,13,10,2020
99996,3304 849,23,7,45.0,0,True,False,False,True,False,...,False,False,False,True,False,False,3,14,10,2020
99997,3532 129,11,21,46.5,0,True,False,False,True,False,...,False,False,False,False,False,True,2,13,10,2020
99998,3107 092,22,25,48.2,0,False,True,False,False,True,...,False,False,False,False,False,True,3,14,10,2020
99999,3400 711,16,226,31.7,0,False,True,False,True,False,...,False,False,False,False,False,True,3,14,10,2020

In [23]:
final_dataset.reset_index(drop=True, inplace=True)

In [24]:
final_dataset

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year
0,3577 209,19,5,25.2,0,False,True,False,False,True,...,True,False,False,False,False,True,3,14,10,2020
1,3039 221,17,288,49.6,0,True,False,False,True,False,...,False,False,False,False,True,False,3,14,10,2020
2,2694 780,14,5,42.2,0,False,True,False,False,True,...,False,False,True,False,False,False,3,14,10,2020
3,2640 960,14,28,51.0,0,False,True,False,False,True,...,False,False,True,False,False,False,2,13,10,2020
4,2771 031,23,91,38.0,1,False,True,True,False,False,...,False,False,False,False,True,False,2,13,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203 892,22,15,53.8,0,True,False,False,False,True,...,False,False,False,False,False,True,2,13,10,2020
99973,3304 849,23,7,45.0,0,True,False,False,True,False,...,False,False,False,True,False,False,3,14,10,2020
99974,3532 129,11,21,46.5,0,True,False,False,True,False,...,False,False,False,False,False,True,2,13,10,2020
99975,3107 092,22,25,48.2,0,False,True,False,False,True,...,False,False,False,False,False,True,3,14,10,2020
99976,3400 711,16,226,31.7,0,False,True,False,True,False,...,False,False,False,False,False,True,3,14,10,2020

In [25]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99977 entries, 0 to 99976
Data columns (total 52 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Transaction ID                         99977 non-null  object
 1   Time                                   99977 non-null  int64
 2   Amount                                 99977 non-null  int64
 3   Age                                    99977 non-null  float64
 4   Fraud                                  99977 non-null  int64
 5   Type of Card_MasterCard                99977 non-null  bool
 6   Type of Card_Visa                      99977 non-null  bool
 7   Entry Mode_CVC                         99977 non-null  bool
 8   Entry Mode_PIN                         99977 non-null  bool
 9   Entry Mode_Tap                         99977 non-null  bool
 10  Type of Transaction_ATM                99977 non-null  bool
 11  Type of Transaction_Online             99977 non-null  bool
 12  Type of Transaction_POS                99977 non-null  bool
 13  Merchant Group_Children                99977 non-null  bool
 14  Merchant Group_Electronics             99977 non-null  bool
 15  Merchant Group_Entertainment           99977 non-null  bool
 16  Merchant Group_Fashion                 99977 non-null  bool
 17  Merchant Group_Food                    99977 non-null  bool
 18  Merchant Group_Gaming                  99977 non-null  bool
 19  Merchant Group_Products                99977 non-null  bool
 20  Merchant Group_Restaurant              99977 non-null  bool
 21  Merchant Group_Services                99977 non-null  bool
 22  Merchant Group_Subscription            99977 non-null  bool
 23  Country of Transaction_China           99977 non-null  bool
 24  Country of Transaction_India           99977 non-null  bool
 25  Country of Transaction_Russia          99977 non-null  bool
 26  Country of Transaction_USA             99977 non-null  bool
 27  Country of Transaction_United Kingdom  99977 non-null  bool
 28  Country of Residence_China             99977 non-null  bool
 29  Country of Residence_India             99977 non-null  bool
 30  Country of Residence_Russia            99977 non-null  bool
 31  Country of Residence_USA               99977 non-null  bool
 32  Country of Residence_United Kingdom    99977 non-null  bool
 33  Gender_F                               99977 non-null  bool
 34  Gender_M                               99977 non-null  bool
 35  Bank_Barclays                          99977 non-null  bool
 36  Bank_Barlcays                          99977 non-null  bool
 37  Bank_HSBC                              99977 non-null  bool
 38  Bank_Halifax                           99977 non-null  bool
 39  Bank_Lloyds                            99977 non-null  bool
 40  Bank_Metro                             99977 non-null  bool
 41  Bank_Monzo                             99977 non-null  bool
 42  Bank_RBS                               99977 non-null  bool
 43  Shipping Address_China                 99977 non-null  bool
 44  Shipping Address_India                 99977 non-null  bool
 45  Shipping Address_Russia                99977 non-null  bool
 46  Shipping Address_USA                   99977 non-null  bool
 47  Shipping Address_United Kingdom        99977 non-null  bool
 48  Day of week                            99977 non-null  int32
 49  Day                                    99977 non-null  int32
 50  Month                                  99977 non-null  int32
 51  Year                                   99977 non-null  int32
dtypes: bool(43), float64(1), int32(4), int64(3), object(1)
memory usage: 9.4+ MB

In [26]:
final_dataset.columns

Index(['Transaction ID', 'Time', 'Amount', 'Age', 'Fraud',
       'Type of Card_MasterCard', 'Type of Card_Visa', 'Entry Mode_CVC',
       'Entry Mode_PIN', 'Entry Mode_Tap', 'Type of Transaction_ATM',
       'Type of Transaction_Online', 'Type of Transaction_POS',
       'Merchant Group_Children', 'Merchant Group_Electronics',
       'Merchant Group_Entertainment', 'Merchant Group_Fashion',
       'Merchant Group_Food', 'Merchant Group_Gaming',
       'Merchant Group_Products', 'Merchant Group_Restaurant',
       'Merchant Group_Services', 'Merchant Group_Subscription',
       'Country of Transaction_China', 'Country of Transaction_India',
       'Country of Transaction_Russia', 'Country of Transaction_USA',
       'Country of Transaction_United Kingdom', 'Country of Residence_China',
       'Country of Residence_India', 'Country of Residence_Russia',
       'Country of Residence_USA', 'Country of Residence_United Kingdom',
       'Gender_F', 'Gender_M', 'Bank_Barclays', 'Bank_Barlcays', 'Bank_HSBC',
       'Bank_Halifax', 'Bank_Lloyds', 'Bank_Metro', 'Bank_Monzo', 'Bank_RBS',
       'Shipping Address_China', 'Shipping Address_India',
       'Shipping Address_Russia', 'Shipping Address_USA',
       'Shipping Address_United Kingdom', 'Day of week', 'Day', 'Month',
       'Year'],
      dtype='object')

In [27]:
boolean_columns = [
       'Type of Card_MasterCard', 'Type of Card_Visa', 'Entry Mode_CVC',
       'Entry Mode_PIN', 'Entry Mode_Tap', 'Type of Transaction_ATM',
       'Type of Transaction_Online', 'Type of Transaction_POS',
       'Merchant Group_Children', 'Merchant Group_Electronics',
       'Merchant Group_Entertainment', 'Merchant Group_Fashion',
       'Merchant Group_Food', 'Merchant Group_Gaming',
       'Merchant Group_Products', 'Merchant Group_Restaurant',
       'Merchant Group_Services', 'Merchant Group_Subscription',
       'Country of Transaction_China', 'Country of Transaction_India',
       'Country of Transaction_Russia', 'Country of Transaction_USA',
       'Country of Transaction_United Kingdom', 'Country of Residence_China',
       'Country of Residence_India', 'Country of Residence_Russia',
       'Country of Residence_USA', 'Country of Residence_United Kingdom',
       'Gender_F', 'Gender_M', 'Bank_Barclays', 'Bank_Barlcays', 'Bank_HSBC',
       'Bank_Halifax', 'Bank_Lloyds', 'Bank_Metro', 'Bank_Monzo', 'Bank_RBS',
       'Shipping Address_China', 'Shipping Address_India',
       'Shipping Address_Russia', 'Shipping Address_USA',
       'Shipping Address_United Kingdom',
]
final_dataset[boolean_columns] = final_dataset[boolean_columns].astype(int)

In [40]:
final_dataset

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year
0,3577 209,19,5,25.2,0,0,1,0,0,1,...,1,0,0,0,0,1,3,14,10,2020
1,3039 221,17,288,49.6,0,1,0,0,1,0,...,0,0,0,0,1,0,3,14,10,2020
2,2694 780,14,5,42.2,0,0,1,0,0,1,...,0,0,1,0,0,0,3,14,10,2020
3,2640 960,14,28,51.0,0,0,1,0,0,1,...,0,0,1,0,0,0,2,13,10,2020
4,2771 031,23,91,38.0,1,0,1,1,0,0,...,0,0,0,0,1,0,2,13,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203 892,22,15,53.8,0,1,0,0,0,1,...,0,0,0,0,0,1,2,13,10,2020
99973,3304 849,23,7,45.0,0,1,0,0,1,0,...,0,0,0,1,0,0,3,14,10,2020
99974,3532 129,11,21,46.5,0,1,0,0,1,0,...,0,0,0,0,0,1,2,13,10,2020
99975,3107 092,22,25,48.2,0,0,1,0,0,1,...,0,0,0,0,0,1,3,14,10,2020
99976,3400 711,16,226,31.7,0,0,1,0,1,0,...,0,0,0,0,0,1,3,14,10,2020

In [41]:
df = final_dataset

# Coordinates for each country
country_coordinates = {
    'China': (35.8617, 104.1954),
    'India': (20.5937, 78.9629),
    'Russia': (61.5240, 105.3188),
    'USA': (37.0902, -95.7129),
    'United Kingdom': (55.3781, -3.4360)
}

# Function to map binary columns back to country names
def get_country_from_columns(row, prefix):
    for col in df.columns:
        if col.startswith(prefix) and row[col] == 1:
            return col.split('_')[-1]
    return None

df['Country of Residence'] = df.apply(lambda x: get_country_from_columns(x, 'Country of Residence_'), axis=1)
df['Country of Transaction'] = df.apply(lambda x: get_country_from_columns(x, 'Country of Transaction_'), axis=1)

In [42]:
def haversine(coord1, coord2):
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    R = 6371  # Earth radius in km
    dlat = np.radians(lat2 - lat1)
    dlon = np.radians(lon2 - lon1)
    a = np.sin(dlat/2) ** 2 + np.cos(np.radians(lat1)) * np.cos(np.radians(lat2)) * np.sin(dlon/2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    return R * c

# Calculate Distance from Home
df['Distance from Home'] = df.apply(lambda x: haversine(country_coordinates[x['Country of Residence']], country_coordinates[x['Country of Transaction']]), axis=1)

In [43]:
# Calculate Previous Fraudulent Transactions
df['Previous Fraudulent Transactions'] = df.groupby('Country of Residence')['Fraud'].cumsum() - df['Fraud']

In [47]:
df.columns

Index(['Transaction ID', 'Time', 'Amount', 'Age', 'Fraud',
       'Type of Card_MasterCard', 'Type of Card_Visa', 'Entry Mode_CVC',
       'Entry Mode_PIN', 'Entry Mode_Tap', 'Type of Transaction_ATM',
       'Type of Transaction_Online', 'Type of Transaction_POS',
       'Merchant Group_Children', 'Merchant Group_Electronics',
       'Merchant Group_Entertainment', 'Merchant Group_Fashion',
       'Merchant Group_Food', 'Merchant Group_Gaming',
       'Merchant Group_Products', 'Merchant Group_Restaurant',
       'Merchant Group_Services', 'Merchant Group_Subscription',
       'Country of Transaction_China', 'Country of Transaction_India',
       'Country of Transaction_Russia', 'Country of Transaction_USA',
       'Country of Transaction_United Kingdom', 'Country of Residence_China',
       'Country of Residence_India', 'Country of Residence_Russia',
       'Country of Residence_USA', 'Country of Residence_United Kingdom',
       'Gender_F', 'Gender_M', 'Bank_Barclays', 'Bank_Barlcays', 'Bank_HSBC',
       'Bank_Halifax', 'Bank_Lloyds', 'Bank_Metro', 'Bank_Monzo', 'Bank_RBS',
       'Shipping Address_China', 'Shipping Address_India',
       'Shipping Address_Russia', 'Shipping Address_USA',
       'Shipping Address_United Kingdom', 'Day of week', 'Day', 'Month',
       'Year', 'Country of Residence', 'Country of Transaction',
       'Distance from Home', 'Previous Fraudulent Transactions'],
      dtype='object')